DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
REDIS_URL=
ENCRYPTION_KEY=
FRONTEND_URL=
BACKEND_URL=
EXTENSION_ID=
SESSION_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_SECRET_FOR_AUTH=
JWT_REFRESH_SECRET_FOR_AUTH=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
PAYMENT_RETURN_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BUGGREGATOR_DSN=
WORKER_CONCURRENCY=
SEND_MAX_RETRIES=
